<p id="notice"><%= notice %></p>

<p>
  <strong>Band:</strong>
  <%= @show_time.band_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @show_time.event_id %>
</p>
<%= link_to @event.name, @event %>
<p>
  <strong>Start time:</strong>
  <%= @show_time.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @show_time.end_time %>
</p>

<%= link_to 'Edit', edit_event_show_time_path(@event, @show_time) %> |
<%= link_to 'Back', event_show_times_path(@event) %>
